.containerComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFDE22;
    border-top: solid 1px black;
    position: relative;
    height: 650px;
}

.containerComment h3 {
    color: white;
    font-size: 50px;

}


.comment-box {
    border: solid 3px white;
    color: white;
    padding: 50px 90px;
    margin: 20px auto;
    width: 65%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 150px;
    text-align: center;
    font-size: 27px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.3s;
}

.comment-box.selected {
    border-color: white;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.image-container img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s, border-bottom 0.3s;
    border: 3px solid white;
}

.image-container img.active {
    transform: scale(1.2);
}