.containerComment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #FFDE22;
    border-top: solid 1px black;
    position: relative;
}

.containerComment h3 {
    color: white;
    font-size: 50px;
}

/* Style du commentaire */
.comment-box {
    border: solid 5px white;
    color: white;
    padding: 100px 90px;
    margin: 20px auto;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 150px;
    text-align: center;
    font-size: 29px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: border 0.3s;
}

.comment-box.selected {
    border-color: white;
}

/* Conteneur des images */
.image-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

/* Nouveau wrapper pour gérer l'effet */
.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

/* Style des images */
.image-wrapper img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform 0.3s, border 0.3s;
}

/* Effet quand l'image est sélectionnée */
.image-wrapper.active img {
    transform: scale(1.5);
    border: 3px solid white; /* Cadre plus épais */
}

/* Soulignement de l'image sélectionnée */
.image-wrapper.active::after {
    content: "";
    width: 120px;
    height: 5px;
    background-color: black;
    position: absolute;
    bottom: -105px;

}

/* Section Profil */
.profile-info {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.profile-info h4 {
    font-size: 30px;
    margin: 5px 0;
    font-weight: bold;
    padding: 0 0 10px 0;
    color: white;
}

.profile-info p {
    font-size: 22px;
    margin: 5px 0 40px 0; 
    opacity: 0.8;
}
