/* Style général de l'en-tête */
.header {
  position: relative;
  height: 980px;
  background-image: url('../../public/headerpics.webp');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  align-items: center;
  justify-content: space-evenly;
}

.navbar h2 {
  font-size: 3em;
}

ul span {
  color: #ffd700;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffd700;
}

.header-content {
  text-align: center;
  margin-top: 220px;
  padding: 20px;
  width: 70%;
}

.header-title {
  font-size: 6rem;
  margin-bottom: 10px;
}

.header-text {
  font-size: 1.5rem;
  font-weight: 300;
}

.buttons {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 30px ;
}

button{
  border: 2px solid white;
  border-radius: 30px;
  border-width: 3px;
  outline: none;
  font-size: 18px;
  line-height: 46px;
}

.volunter {
  color: #ffd700;
  background-color: transparent;
  border-color: #ffd700;
  width: 222px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out; 
}

.donate {
  color: white;
  background-color: transparent;
  border-color: white;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out; 
}

.volunter:hover {
  background-color: #ffd700; 
  color: white;
}

.donate:hover {
  background-color: #ffd700; 
  color: white;
  border: #ffd700;
}
