.welcome {
    margin: auto;
    display: flex;
    gap: 50px;
    width: 69%;
    margin-bottom: 120px;
    margin-top: 100px;
}

img {
    width: 600px;
    height: 440px;
}

h4 {
    font-size: 50px;
    margin: 0;
    color: #212121;
    padding-bottom: 20px;
}

p {
    font-size: 19px;
    line-height: 30px;
}

.moreAboutUs {
    margin-top: 20px;
    width: 30%;
    background-color: #ffd700;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    padding: 20px;
}

.underline {
    text-decoration: underline;
    text-decoration-color: #ffd700;
    text-decoration-thickness: 5px;
    text-underline-offset: 15px;
}


.esperanciaSpan {
    color: #ffd700;
}